[DEFAULT]
description = Biologics related/required modules

[server/optionalModules/biologics]
checkout = git clone http://www.github.com/LabKey/biologics.git --branch develop

[server/optionalModules/assay_request]
checkout = git clone http://www.github.com/LabKey/assayrequest.git --branch develop 

[server/optionalModules/recipe]
checkout = git clone http://www.github.com/labkey/recipe.git --branch develop
